.app_table {
  display: flex;

  flex-direction: column;
  padding: 15px;
  max-width: 900px;
}
.app_table tr {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.app_table tr:first-child td {
  font-size: 24px;
  text-align: center;
}

.app_table td {
  text-align: center;
  font-size: 16px;
  border: 1px solid black;
  min-height: 18px;
  padding: 5px;
}
.app_table td:first-child {
  text-align: left;
  font-size: 16px;
}
.app_table td:first-child tr {
  text-align: left;
}
.app_table td:last-child tr {
  text-align: right;
}

@media screen and (max-width: 1100px) {
  .app_table td {
    font-size: 14px;
  }
  .app_table tr:first-child td {
    font-size: 22px;
  }
}
@media screen and (max-width: 700px) {
  .app_table td {
    font-size: 12px;
    letter-spacing: -0.5px;
  }
  .app_table tr:first-child td {
    font-size: 20px;
  }
  .app_table td:first-child {
    font-size: 14px;
  }
}
@media screen and (max-width: 500px) {
  .app_table td {
    font-size: 10px;
    letter-spacing: -0.8px;
  }
  .app_table tr:first-child td {
    font-size: 14px;
  }
  .app_table td:first-child {
    font-size: 12px;
  }
}
